dialog {
    --input-padding: 0.6rem;
    --input-height: calc(var(--input-padding)*2 + 1.2rem);

    flex-direction: column;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    border-radius: 0.5rem;
    border: none;
    width: max-content;
    background-color: var(--light);
    color: var(--dark);
}

dialog h3 {
    margin-bottom: 1rem;
}

dialog .buttons {
    display: flex;
    gap: 0.6rem;
}

dialog .buttons > * {
    flex: 1;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--light);
}

form textarea {
    resize: vertical;
    width: 100%;
    max-height: 15rem;
    min-height: 5rem;
}

form input,
form select,
form textarea {
    background-color: var(--light);
    color: var(--dark);
    padding: var(--input-padding);
    border: 2px solid var(--light-hover);
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

form input:hover,
form select:hover,
form textarea:hover,
#btn-dropdown-custom:hover {
    border-color: var(--border-grey);
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: var(--accent-orange);
    outline: none;
}

/* NEW TASK DIALOG */

.new-task .wrapper {
    display: flex;
    row-gap: 0.4rem;
    column-gap: 0.6rem;
}

.wrapper.subtasks {
    flex-direction: column;
}

.new-subtask {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.new-subtask input {
    flex: 1;
}

.btn-new-subtask {  
    height: var(--input-height);
    width: var(--input-height);
    border: 2px solid var(--accent-orange);
    border-radius: 0.5rem;
}

.btn-new-subtask .icon {
    display: block;
    background-image: url(../media/icons/add-new.svg);
    background-size: 70%;
    filter: var(--filter-icon-orange);
    height: 100%;
    width: 100%;
}

.new-task .list-subtasks {
    max-width: 22.5rem;
    padding: 0.3rem 0.4rem;
}

.list-subtasks li {
    position: relative;
    display: flex;
    gap: 0.3rem;
    margin-top: 0.4rem;
    align-items: center;
    cursor: default;
}

.list-subtasks li label {
    margin-right: auto;
    margin-left: 1.2rem;
}

.list-subtasks li button {
    background-image: url(../media/icons/delete-cross.svg);
    filter: invert(25%) sepia(0%) saturate(20%) hue-rotate(238deg) brightness(91%) contrast(78%);
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
}

.list-subtasks li:hover button {
    opacity: 1;
}

.custom-checkbox {
    cursor: pointer;
    position: absolute;
    inset: 0.3em 0;
    width: 1em;
    height: 1em;
    border: 2px solid var(--text-grey);
    border-radius: 0.3rem;
    z-index: 1;
}

.list-subtasks input[type="checkbox"]:checked + .custom-checkbox {
    background-image: url(../media/icons/checkbox-white.svg);
    background-color: var(--accent-orange);
    border: 2px solid var(--accent-orange);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-subtasks label.checked {
    text-decoration: line-through;
    color: var(--text-grey);
}

/* NEW PROJECT DIALOG   */

dialog.new-project {
    position: absolute;
    z-index: 10;
    border: 2px solid black;
    width: 25rem;
    max-height: 80%;
}

.new-project .select-color-custom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#btn-dropdown-custom {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.4rem 0.6rem;
    text-align: start;
    align-items: center;
    border: 2px solid var(--light-hover);
    border-radius: 0.5rem;
    transition: border-color 0.3s;
    color: var(--dark);
}

.new-project .icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.new-project .list-select-custom {
    display: none;
    width: 100%;
    max-height: 10rem;
    margin-top: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    isolation: isolate;
    border-radius: 0.5rem;
    box-shadow: 0 0 12px 1px hsl(0, 0%, 82%);
}

html.dark .list-select-custom {
    box-shadow: 0 0 12px 1px hsl(0, 0%, 9%);
}

.list-select-custom.expanded {
    display: block;
}

.new-project .list-select-custom::-webkit-scrollbar {
    width: 8px;
}

.new-project .list-select-custom::-webkit-scrollbar-track {
    background: transparent; 
}

.new-project .list-select-custom::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
    border: 2px solid var(--light); /* Adds a little 'gutter' around the thumb */
}

.new-project .list-select-custom > * {
    display: flex;
    gap: 0.5rem;
    height: 2.5rem;
    width: 98%;
    padding: 0.2rem;
    padding-left: 0.6rem;
    align-items: center;
    margin: 0.4rem;
}

.new-project .list-select-custom > *:hover {
    background-color: var(--light-hover);
    border-radius: 0.5rem;
}
