@import "./style-vars.css";
@import "./dialogs.css";

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4; 
}

strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

summary {
    display: list-item;
}

/*////////////////////////////////////////////////////////*/
* {
    /* outline: 1px solid red; */
}

html {
    height: 100vh;
}

html.dark :is(.list-down button,
            .sidebar .icon:not(.icon-colored),
            .btn-sidebar,
            .task .right button
            ) {
    filter: var(--filter-icon-toWhite);
}

html.dark :is(.active .tab .icon:not(.icon-colored),
.btn-sidebar:hover) {
    filter: var(--filter-icon-orange);
}

html.dark form input::placeholder,
html.dark form textarea::placeholder {
    color: var(--text-grey);
}

html.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

body {
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    height: 100vh;
    background-color: var(--light);
    font-family: var(--system-ui);
    color: var(--dark);
}

li {
    list-style: none;
}

h1 {
    color: var(--accent-orange);
}

a,
li {
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    inset: 0.3rem 0;
    opacity: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    z-index: 2; /* on top, receives the clicks */
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-weight: bold;
}

button.white {
    color: var(--accent-orange);
    border: 2px solid var(--accent-orange);
}

button.white:hover {
    background-color: var(--light-hover);
}

button.orange {
    background-color: var(--accent-orange);
    color: white;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    position: relative;
    grid-row: 1 / 2;
    height: 100vh;
    background-color: var(--light);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1.5px solid var(--border-grey);
}

main {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    transition: margin-left 0.3s ease;
}

nav.collapsed ~ main {
    margin-left: -18rem;
}

nav.collapsed ~ main .header {
    margin-left: 4rem;
}

nav {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

nav.collapsed {
    transform: translateX(-100%);
}

.sidebar .heading {
    padding-left: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sidebar {
    position: absolute;
    background-image: url(../media/icons/sidebar.svg);
    left: 15rem;
    top: 1.1rem;
    height: 2rem;
    width: 2rem;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 2;
}

.btn-sidebar:hover,
.task .right button:hover {
    filter: var(--filter-icon-orange);
}

.btn-sidebar.collapsed {
    transform: translateX(-14rem);
}

.sidebar li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6em;
    height: 2.5rem;
}

.sidebar .active {
    background-color: var(--light-active);
    color: var(--accent-orange);
}

.list-up button,
.sidebar .tab {
    display: flex;
    gap: 0.6rem;
    align-items: center; 
}

.list-up button,
.list-up li,
.list-down li,
.list-down h2 {
    border-radius: 0.5rem;
}

.list-up button:not(.active):hover,
.list-up li:not(.active):hover,
.list-down li:not(.active):hover,
.list-down h2:not(.active):hover {
    background-color: var(--light-hover);
}

.list-up,
.list-down,
.list-up ul {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-weight: 500;
}

.list-up button {
    width: 100%;
    text-align: start;
    align-items: center;
    padding: 0.6em;
    height: 2.5rem;
    font-weight: 600;
    color: var(--dark);
}

.list-up button .icon {
    display: block;
    background-image: url(../media/icons/add-new.svg);
    width: 1.3rem;
    height: 1.3rem;
}

.tab .icon {
    height: 100%;
    width: 1.3rem;
}

.active .tab .icon:not(.colored ) {
    filter: var(--filter-icon-orange);
}

#tab-all .icon {
    background-image: url(../media/icons/all-tasks.svg);
    
}

#tab-today .icon {
    background-image: url(../media/icons/today.svg);
}

#tab-upcoming .icon {
    background-image: url(../media/icons/upcoming.svg);
}

#tab-completed .icon {
    background-image: url(../media/icons/completed.svg);
}

.list-down h2 {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
}

#btn-new-project {
    background-image: url(../media/icons/add-new.svg);
    height: 80%;
    align-self: center;
    width: 1.5rem;
    transition: 0.2s ease;
    opacity: 0;
}

.list-down h2:hover #btn-new-project {
    opacity: 1;
}

#btn-new-project:hover {
    transform: scale(1.2);
}

.project {
    position: relative;
}

.project svg {
    height: 1rem;
    width: 1rem;
}

.project .btn-edit {
    position: absolute;
    right: 0.4rem;
    top: 0.3rem;
    background-image: url(../media/icons/dots-vertical.svg);
    height: 75%;
    align-self: center;
    width: 1rem;
    opacity: 0;
}

.project:hover .btn-edit {
    opacity: 1;
}

.project.active:hover .btn-edit {
    filter: var(--filter-icon-orange);
}

.project:hover .counter {
    opacity: 0;
}

.header {
    container-type: inline-size;
    container-name: header-container;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    transition: margin-left 0.3s ease;
}

.header .buttons {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.header .heading {
    width: max-content;
    align-self: center;
}

.header button:not(.toggle-theme) {
    display: inline;
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    padding: 0.3rem 0.6rem;
    border-radius: 0.6rem;
    align-content: center;
    align-items: center;
}

.header .btn-new-task {
    max-height: 2.4rem;
    width: 7.8rem;
    transition: width 0.2s ease, padding 0.2s ease;
}

.header .icon {
    height: 1.2rem;
    width: 1.2rem;
}

.header .btn-new-task .icon {
    background-image: url("../media/icons/add-new.svg");
    filter: invert(1) brightness(2) saturate(50%);
}

.header .btn-sort,
.header .btn-filter {
    position: relative;
    height: 2.4rem;
    width: 5.5rem;
    align-self: center;
    transition: width 0.2s ease, padding 0.2s ease;
}

.header .btn-sort .icon {
    background-image: url(../media/icons/sort.svg);
    filter: var(--filter-icon-orange);
}

.header .btn-filter .icon {
    background-image: url(../media/icons/filter.svg);
    filter: var(--filter-icon-orange);
}

@container header-container (max-width: 490px) {
    .header button:not(.toggle-theme) span.text {
        display: none;
    }

    .header button:not(.toggle-theme) {
        width: 2.4rem;
        padding: 0;
    }
}

.header .toggle-theme {
    background-image: url(../media/icons/toggle-theme.svg);
    height: 1.6rem;
    width: 1.6rem;
    align-self: center;
    align-content: center;
    transition: transform 0.4s ease; 
}

.header .toggle-theme.dark {
    transform: rotate(180deg);
    filter: var(--filter-icon-toWhite);
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.task {
    --_color: var(--checkbox-color);
    --_bg: var(--checkbox-bg);

    display: flex;
    width: 80%;
    border-bottom: 1px solid var(--border-grey);
    min-width: 45ch;
    padding: 1rem 0.6rem;
    cursor: pointer;
}

.task .left {
    margin-right: auto;
}

.task .text {
    margin-bottom: 1.2rem;
}

.task h3 {
    margin-bottom: 0.4rem;
}

.task p,
.task .from {
    color: var(--text-grey);
}

.task .from {
    font-size: 0.9rem;
}

.task .icon {
    height: 0.9rem;
    width: 0.9rem;
}

.task .details {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}

.task .details > * {
    color: var(--accent-orange);
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.task .date .icon {
    background-image: url(../media/icons/date.svg);
    filter: var(--filter-icon-orange);
}

.task .checklist .icon {
    background-image: url(../media/icons/list.svg);
    filter: var(--filter-icon-orange);
}

.task button.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--_color);
    border-radius: 50%;
    background-color: var(--_bg);
    margin: 0.3rem 0.6rem;
}

.task button.checkbox:hover {
    background-size: 85%;
}

.task.p1 button.checkbox:hover {
    background-image: url(../media/icons/check-p1.svg);
}

.task.p2 button.checkbox:hover {
    background-image: url(../media/icons/check-p2.svg);
}

.task.p3 button.checkbox:hover {
    background-image: url(../media/icons/check-p3.svg);
}

.task.p4 button.checkbox:hover {
    background-image: url(../media/icons/check-p4.svg);
}

.task.p1 {
    --checkbox-color: var(--p1);
    --checkbox-bg: var(--p1-bg);
}

.task.p2 {
    --checkbox-color: var(--p2);
    --checkbox-bg: var(--p2-bg);
}

.task.p3 {
    --checkbox-color: var(--p3);
    --checkbox-bg: var(--p3-bg);
}

.task.p4 {
    --checkbox-color: var(--p4);
    --checkbox-bg: var(--p4-bg);
}

.task .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.task .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
}

.task:hover .buttons {
    opacity: 1;
}

.task .buttons button {
    height: 1rem;
    width: 1rem;
}

.task .btn-edit {
    background-image: url(../media/icons/edit.svg);
}

.task .btn-delete {
    background-image: url(../media/icons/delete.svg);
}